*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif; 
}

.app-main{
    width: 50vh;
    margin: 6rem auto;
    background-color: lightgray;
    padding: 1.2rem;
    text-align: center;
}

.app-main > *{
    margin-bottom: 1.2rem;
}

.input-box{
    width: 100%;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.89);
    color: #582233;
    font-size:1.2rem;
    padding: 0 10px;
    text-align: center;
    border-radius: 5px;
    height: 3.2rem;
}
.input-box:focus{
    background-color: white;
}

.weather-body{
    display: none;
    color: #582233;
    padding: 1.2rem;
    line-height: 2rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.89);
    height: 40vh;
}

.location-details{
     font-weight: bold;
     font-size: 15pt;
}

.weather-status{
    padding: 1.8rem;
}

.temp{
    font-size: 4.2rem;
    font-weight: 700;
    padding: 1.2rem 0;
    text-shadow: 2px 4px rgba(0,0,0,0.3);
}

.weather{
    font-size: 15pt;
    font-weight: 600;
}